@page "/"

<h1>Show patient details</h1>

<button class="nhsuk-button" type="submit">
    Save and continue
</button>

@functions {
    protected override void OnInit()
    {
        base.OnInit();
    }
}